@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}
<!-- Link to the external CSS file -->
<link rel="stylesheet" href="~/css/style.css">

<h2>Enrollment records summary</h2>

<table>
    <tr>
        <th class="custom-th">
            Enrollment Date
        </th>
        <th class="custom-th">
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>